{% if trade.status == "PROPOSED" %}
    {% if user == trade.current_proposer.owner %}
        <form action="" method="post">
            {% csrf_token %}
            <button name="accept" class="pick-btn btn btn-success mb-2" type="submit">Accept</button>
            <button name="counter" class="pick-btn btn btn-warning mb-2" type="submit">Counter</button>
            <button name="reject" class="pick-btn btn btn-danger mb-2" type="submit">Reject</button>
        </form>
    {% endif %}
{% endif %}