{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1 text-center">Commissioner Tools</h1><hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="h3 text-center">Update Team</h1><hr>

            {% for pick in picks %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <form action="" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text {{}}" style="width: 300px; overflow-x: hidden; text-overflow: ellipsis;" id="basic-addon1">{{pick.round}}.{{pick.number}} - {{pick.current_owner}}</span>
                        </div>
                        <input type="hidden" value={{pick.id}} name="pick" id="">
                        <input class="form-control bg-secondary border-none" type="text" name="selection" id="selection">
                        <button class="btn btn-primary" type="submit" name="update-selection">Update Selection</button>    
                    </div>
                </form>
            </form>
            {% endfor %}

        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="h3 text-center">Create Team</h1><hr>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ create_team_form.as_p }}
                <button type="submit" name="create-team">Create Team</button>
            </form>
        </div>

        <div class="col-12 col-md-6">
            <h1 class="h3 text-center">Update Draft Order</h1><hr>
            <form action="" method="post">
                {% csrf_token %}
                {% for i in teams.count|create_range %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{i}}</span>
                    </div>
                    <select name="{{i}}" class="btn btn-secondary form-select" aria-label="Default select example">
                        <option disabled>Select a team</option>
                        {% for team in teams %}
                        {% if team.draft_order == i %}
                        <option value="{{team}}" selected>{{ team }}</option>
                        {% else %}
                        <option value="{{team}}">{{ team }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
                <button class="btn btn-primary w-100 mt-3" name="update-draft-order" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
  

{% endblock content %}