{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<style>
    /* Hide the vertical scrollbar */
    ::-webkit-scrollbar {
      width: 0;
      height: 1.5em;
    }

    /* Track */
    ::-webkit-scrollbar-track:vertical {
      background: transparent;
    }

    /* Vertical Handle */
    ::-webkit-scrollbar-thumb {
      background: transparent;
    }

    /* Show the horizontal scrollbar */
    ::-webkit-scrollbar-thumb:horizontal {
        background: lightblue
    }

    .team-pic {
        width: 60px !important;
        height: 60px !important;
        object-fit: cover;
        border-radius: 50%;
    }
    .no-decoration {
        text-decoration: none;
        color: inherit;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1 text-center">2023 Draftboard</h1><hr>
        </div>
    </div>
    <div class="row" style="width: 100%; height: 70vh; overflow: scroll;">
        <div class="col">
            <div class="container mb-3">
                <table class="table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            {% for team in teams %}
                            <th class="text-center">
                                <div class="m-3" style="height: 150px; overflow:scroll">
                                    <a class="no-decoration" href="{% url 'team' team.pk %}" style="overflow:hidden; text-overflow: ellipsis;">
                                        <img class="team-pic mb-1" src="{% static pic_dict|get_dict_value:team.owner %}" alt=""><br>
                                        <p>{{team.name}}</p>
                                    </a>
                                </div>
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in 15|create_range %}
                        <tr>
                            <td class="bg-primary text-center">{{ i }}</td>
                            {% for pick in picks %}
                            {% if pick.round == i %}
                            <td class="text-center">
                                {% if pick.original_owner == pick.current_owner %}
                                    <a class="btn btn-outline-secondary" style="height: 105px; width: 100px; overflow:hidden; text-overflow: ellipsis;" href="{% url 'team' pick.original_owner.pk %}">
                                        {{pick.round}}.{{pick.number}}<br>
                                        {{pick.current_owner}}
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-warning" style="height: 105px; width: 100px; overflow:hidden; text-overflow: ellipsis;" href="{% url 'team' pick.current_owner.pk %}">
                                        {{pick.round}}.{{pick.number}}<br>
                                        {{pick.current_owner}}
                                    </a>
                                {% endif %}
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}