{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<style>
    ::-webkit-scrollbar {
      width: 0;
      height: 1em;
    }

    ::-webkit-scrollbar-track:vertical {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb:horizontal {
        background: lightblue
    }

    .team-pic {
        width: 60px !important;
        height: 60px !important;
        object-fit: cover;
        border-radius: 50%;
    }
    .no-decoration {
        text-decoration: none;
        color: inherit;
    }

    .card-text {
        height: 150px;
        width: 150px;
        overflow-x: hidden;
        overflow-y: scroll;
        text-overflow: ellipsis;
    }

    .card-top-text {
        height: 50px;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="h1">2023 Draftboard</h1>
            <small><i>use < > arrows or scrollbar at the bottom to scroll across the board</i></small>
            <hr>
        </div>
    </div>
    <div class="row overflow-scroll" style="height: 80vh;">
        <div class="col">
            <div class="container mb-3 scrollable-container">
                <table class="table-responsive table-striped scrollable-content">
                    <thead>
                        <tr>
                            <th>#</th>
                            {% for team in teams %}
                            <th class="text-center">
                                <div class="">
                                    <a class="no-decoration" href="{% url 'team' team.pk %}">
                                        <img class="team-pic mb-1" src="{% static pic_dict|get_dict_value:team.owner %}" alt=""><br>
                                        <p class="card-top-text">{{team.name}}</p>
                                    </a>
                                </div>
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in 15|create_range %}
                        <tr>
                            <td class="bg-primary text-center">{{ i }}</td>
                            {% for pick in picks %}
                            {% if pick.round == i %}
                            <td class="text-center">
                                {% if pick.original_owner == pick.current_owner %}
                                    <a class="btn btn-outline-secondary card-text" href="{% url 'team' pick.original_owner.pk %}">
                                        <span>{{pick.round}}.{{pick.number}}</span><br>
                                        {% if pick.selection %}
                                            <span class="text-success">{{pick.selection}}</span><hr>
                                        {% endif %}
                                        <span>{{pick.current_owner}}</span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-warning card-text" href="{% url 'team' pick.current_owner.pk %}">
                                        <span>{{pick.round}}.{{pick.number}}</span><br>
                                        {% if pick.selection %}
                                            <span class="text-success">{{pick.selection}}</span><hr>
                                        {% endif %}
                                        <span>{{pick.current_owner}}</span>
                                    </a>
                                {% endif %}
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}