{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container mb-5">
    <div class="row">
        <div class="col">
            <h1 class="h1 text-center">Home</h1><hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="h2 text-center">League</h2>
            <div class="container">
                <div class="row">
                    {% for team in teams %}
                    <div class="col-3 col-md-2 text-center">
                        <a href="{% url 'team' team.pk %}">
                            <img class="navbar-profile-img" src="{{ team.profile_picture.url }}" alt="">
                        </a>
                        <h5>{{team}}</h5>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
