{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<style>
    .navbar-profile-img {
        width: 80px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1 text-center">Team</h1><hr>
        </div>
    </div>
    <div class="row text-center mb-3 justify-content-center">
        <img class="navbar-profile-img mb-3" src="{% if team.profile_picture %}{% static pic_dict|get_dict_value:team.owner %}{% else %}{% static 'base/img/default.png' %}{% endif %}"/>
        <h3>@{{team.name}}</h3>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="text-center">2023 Picks</h4><hr>
            {% for pick in picks %}
            {% if pick.year == 2023 %}
            <div class="row">
                <div class="col-12">
                    <h5 class="overflow-hidden">{{pick.round}}.{{pick.number}}{% if pick.current_owner != pick.original_owner %}<span class="text-warning"> - ({{pick.original_owner}})</span>{% else %}<span class="text-secondary"> - ({{pick.original_owner}})</span> {% endif %}</h5>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-6">
            <h4 class="text-center">2024 Picks</h4><hr>
            {% for pick in picks %}
            {% if pick.year == 2024 %}
            <div class="row">
                <div class="col-12">
                    <h5 class="overflow-hidden">{{pick.round}}{% if pick.current_owner != pick.original_owner %}<span class="text-warning"> - ({{pick.original_owner}})</span>{% else %}<span class="text-secondary"> - ({{pick.original_owner}})</span> {% endif %}</h5>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}