{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1 text-center">Trade</h1><hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4"></div>
        <div class="col col-md-4 text-center">
            <form action="" method="post">
                {% csrf_token %}
                <select name="trade-partner" class="btn btn-secondary form-select" aria-label="Default select example" required>
                    <option value="" disabled selected>Select a team</option>
                    {% for team in teams %}
                    <option value="{{team}}">{{ team }}</option>
                    {% endfor %}
                </select>
                <button name="create-trade" class="btn btn-primary w-100 mt-3" type="submit">Start Negotiations</button>
            </form>
        </div>
        <div class="col col-md-4"></div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <h2 class="h2 text-center">Your Trades</h2><hr>
            {% for trade in trades %}
            {% if user == trade.team_one.owner %}
            <a class="btn {% if trade.status != 'ACCEPTED' %}btn-outline-success{% else %}btn-outline-secondary{% endif %} m-1" href="{% url 'trade-room' trade.pk %}">{{trade.date_completed}}<br>{% if user == trade.team_one.owner %}{{trade.team_two}}{% else %}{{trade.team_one}}{% endif %}</a>
            {% elif user == trade.team_two.owner and trade.status != 'STARTED' %}
            <a class="btn btn-success m-1" href="{% url 'trade-room' trade.pk %}">{{trade}}</a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="col-12 col-md-6">
            <h2 class="h2 text-center">All Completed Trades</h2><hr>
            {% for trade in trades %}
            {% if trade.status == 'ACCEPTED' %}
            <a class="btn btn-outline-secondary m-1" href="{% url 'trade-room' trade.pk %}">{{trade.date_completed}}<br>{{trade.team_one}}<br>{{trade.team_two}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}