{% extends 'index.html' %}
{% load static %}

{% block content %}

<style>
    .pick-btn {
        width: 95%;
    }
</style>
<div class="container mb-5">
    <div class="row">
        <div class="col">
            <h1 class="h1 text-center">Trade</h1><hr>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="container">
                <h3 class="text-center">{{trade.team_one}}</h3>
                <div class="row">
                    <div class="col-6 text-center">
                        <h5>2023</h5><hr>
                        {% for pick in team_one_picks %}
                        {% if pick.year == 2023 and pick not in trade.team_one_sends.all %}
                        <div class="row">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input name="pick" type="hidden" name="" value="{{pick.pk}}">
                                <button name="add-pick" class="{% if trade.status == 'PROPOSED' or trade.status == 'ACCEPTED' or trade.status == 'REJECTED' %}disabled{% elif trade.status == 'COUNTERED' and user != trade.current_proposer.owner%}disabled{% endif %} pick-btn btn btn-outline-secondary" type="submit">{{ pick.round }}.{{ pick.number }} &#8594;</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-6 text-center mb-3">
                        <h5>2024</h5><hr>
                        {% for pick in team_one_picks %}
                        {% if pick.year == 2024 and pick not in trade.team_one_sends.all %}
                        <div class="row">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input name="pick" type="hidden" name="" value="{{pick.pk}}">
                                <button name="add-pick" class="{% if trade.status == 'PROPOSED' or trade.status == 'ACCEPTED' or trade.status == 'REJECTED' %}disabled{% elif trade.status == 'COUNTERED' and user != trade.current_proposer.owner%}disabled{% endif %} pick-btn btn btn-outline-secondary" type="submit">{{ pick.round }} &#8594;</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="container">
                <h3 class="text-center">{{trade.team_two}}</h3>
                <div class="row">
                    <div class="col-6 text-center">
                        <h5>2023</h5><hr>
                        {% for pick in team_two_picks %}
                        {% if pick.year == 2023 and pick not in trade.team_two_sends.all %}
                        <div class="row">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input name="pick" type="hidden" name="" value="{{pick.pk}}">
                                <button name="add-pick" class="{% if trade.status == 'PROPOSED' or trade.status == 'ACCEPTED' or trade.status == 'REJECTED' %}disabled{% elif trade.status == 'COUNTERED' and user != trade.current_proposer.owner%}disabled{% endif %} pick-btn btn btn-outline-secondary" type="submit">{{ pick.round }}.{{ pick.number }} &#8594;</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-6 text-center">
                        <h5>2024</h5><hr>
                        {% for pick in team_two_picks %}
                        {% if pick.year == 2024 and pick not in trade.team_two_sends.all %}
                        <div class="row">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input name="pick" type="hidden" name="" value="{{pick.pk}}">
                                <button name="add-pick" class="{% if trade.status == 'PROPOSED' or trade.status == 'ACCEPTED' or trade.status == 'REJECTED' %}disabled{% elif trade.status == 'COUNTERED' and user != trade.current_proposer.owner%}disabled{% endif %} pick-btn btn btn-outline-secondary pick-btn" type="submit">{{ pick.round }} &#8594;</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="container">
                <h3 class="text-center">Trade Card</h3>
                <div class="row">
                    <div class="col text-center">
                        <h5>{{trade.team_one}}</h5><hr>
                        {% for pick in trade.team_one_sends.all %}
                        <div class="row">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input name="pick" type="hidden" name="" value="{{pick.pk}}">
                                {% if pick.year == 2023 %}
                                <button name="remove-pick" class="{% if trade.status == 'PROPOSED' or trade.status == 'ACCEPTED' or trade.status == 'REJECTED' %}disabled{% elif trade.status == 'COUNTERED' and user != trade.current_proposer.owner%}disabled{% endif %} pick-btn btn btn-outline-success" type="submit">&#8592; {{ pick.year }}.{{ pick.round }}.{{ pick.number }}</button>
                                {% else %}
                                <button name="remove-pick" class="{% if trade.status == 'PROPOSED' or trade.status == 'ACCEPTED' or trade.status == 'REJECTED' %}disabled{% elif trade.status == 'COUNTERED' and user != trade.current_proposer.owner%}disabled{% endif %} pick-btn btn btn-outline-success" type="submit">&#8592; {{ pick.year }}.{{ pick.round }}</button>
                                {% endif %}
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col text-center">
                        <h5>{{trade.team_two}}</h5><hr>
                        {% for pick in trade.team_two_sends.all %}
                        <div class="row">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input name="pick" type="hidden" name="" value="{{pick.pk}}">
                                {% if pick.year == 2023 %}
                                <button name="remove-pick" class="{% if trade.status == 'PROPOSED' or trade.status == 'ACCEPTED' or trade.status == 'REJECTED' %}disabled{% elif trade.status == 'COUNTERED' and user != trade.current_proposer.owner%}disabled{% endif %} pick-btn btn btn-outline-success" type="submit">&#8592; {{ pick.year }}.{{ pick.round }}.{{ pick.number }}</button>
                                {% else %}
                                <button name="remove-pick" class="{% if trade.status == 'PROPOSED' or trade.status == 'ACCEPTED' or trade.status == 'REJECTED' %}disabled{% elif trade.status == 'COUNTERED' and user != trade.current_proposer.owner%}disabled{% endif %} pick-btn btn btn-outline-success" type="submit">&#8592; {{ pick.year }}.{{ pick.round }}</button>
                                {% endif %}
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>



                <div class="row mt-3 text-center"><hr>
                    <h3>Status: {{trade.status}}</h3><hr>
                    {% if trade.status == 'ACCEPTED' %}
                    <textarea disabled name="trade_details" id="" cols="28" rows="4" placeholder="Enter extra details about the trade...">{% if trade.extra_details != None %}{{trade.extra_details}}{% endif %}</textarea>
                    {% endif %}
                    {% include 'trades/started.html' %}
                    {% include 'trades/proposed.html' %}
                    {% include 'trades/countered.html' %}
                    {% include 'trades/canceled.html' %}
                </div>



            </div>
        </div>


    </div>

</div>


{% endblock content %}