{% load static %}
{% if user.is_authenticated %}
{% load custom_filters %}

<style>
    .nav-btn {
        border: none;
        position: relative; /* Add this line */
    }
    .notification-circle {
        position: absolute;
        top: 1px;
        right: 50px;
        width: 10px;
        height: 10px;
        background-color: lightcoral;
        border-radius: 50%;
    }
</style>

<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
<div class="container mt-3">
    <div class="row">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="ms-3 ms-md-0" href="{% url 'home' %}">
                    <img class="navbar-profile-img" src="{% if user_team.profile_picture %}{% static pic_dict|get_dict_value:user_team.owner %}{% else %}{% static 'base/img/default.png' %}{% endif %}"/>
                </a>
                <button class="navbar-toggler bg-secondary me-3 me-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mt-3 mt-md-0">
                            <a href="{% url 'home' %}" class="nav-btn btn btn-outline-secondary m-1 {% if request.path == '/' %}active{% endif %}">Home</a>
                        </li>
                        {% if user == commissioner or user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'commissioner' %}" class="nav-btn btn btn-outline-secondary m-1 {% if request.resolver_match.view_name == 'commissioner' %}active{% endif %}">Commish</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'draftboard' %}" class="nav-btn btn btn-outline-secondary m-1 {% if request.resolver_match.view_name == 'draftboard' %}active{% endif %}">Draftboard</a>
                        </li>
                        {% if user_team_pk %}
                        <li class="nav-item">
                            <a href="{% url 'team' user_team_pk %}" class="nav-btn btn btn-outline-secondary m-1 {% if request.resolver_match.view_name == 'team' %}active{% endif %}">Team</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'trade-lobby' %}" class="nav-btn btn btn-outline-secondary m-1 {% if request.resolver_match.view_name == 'trade-lobby' %}active{% elif request.resolver_match.view_name == 'trade-room' %}active{% endif %}">Trade{% if user_team.team_new_trade %}<span class="notification-circle"></span>{% endif %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-btn btn btn-outline-secondary m-1 {% if request.resolver_match.view_name == 'logout' %}active{% endif %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row text-center mt-3 mb-3">
        <div class="col">
            <img src="{% static 'base/img/football.png' %}" alt="" srcset="">
        </div>
    </div>
</div>
{% endif %}
